body {
    font-family: "Montserrat";
    background-color:#fff ;
/*     background-color:#EAF6F6 ; */   
 } 

h1 {
    color: #69DADB;
}
h3 {
    color: #66BFBF;
}

hr {
  
    border-style:none;
    border-top-style: dotted; 
    border-color: silver;
    border-width: 5px;          
    width: 5%;
}
